.header {
    display: flex;
    background-color: #27292d;
    justify-content: space-between;
    color: white;
    height: 60px;
    position: relative;
    width: 100%;
    box-shadow: 5px 5px 5px #000000;
}
.header--title a{
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
    font-style: normal;
}
.header--title {
    display: flex;
    align-items: center;
    height: 100%;
}
a {
    text-decoration-line: none;
}

.header--input {
    display: flex;
    align-items: center;
    height: 30%;
    width: 60%;
    border: none;
    background-color: white;
    color: black;
    border-radius: 24px;
    padding: 10px;
    margin: 50px;
    outline: none;
}

#menu {
    font-size: 40px;
    padding: 10px;
    font-weight: lighter;
}
#search {
    padding-right: 10px;
    font-size: 30px;
}

.header--search {
    margin-right: 15px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search--active {
    width: auto;
}