.userProfile {
    width: 480px;
    background-color: #27292d;
    padding: 20px;
    height: 100vh;
    overflow: scroll;
    color: white;
}

.userProfile::-webkit-scrollbar {
    -webkit-appearance: none;
}
.userProfile::-webkit-scrollbar:vertical {
    width: 10px;
}

.userProfile::-webkit-scrollbar-thumb {
    background-color: #27292d;
    border-radius: 20px;
    border: 2px solid #373b41;
}

.userProfile--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    padding: 30px;
}

.userProfile--container__name {
    font-weight: 300;
    text-align: center;
}

.outside {
    position: relative;
    width: 122px;
    height: 122px;
    background-color: #5e626b;
    clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.2635% 0.15192%, 50% 0px, 51.7365% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.641% 21.3398%, 91.0689% 22.3396%, 92.3015% 23.5721%, 93.3013% 25%, 94.0379% 26.5798%, 94.4891% 28.2635%, 94.641% 30%, 94.641% 70%, 94.4891% 71.7365%, 94.0379% 73.4202%, 93.3013% 75%, 92.3015% 76.4279%, 91.0689% 77.6604%, 89.641% 78.6603%, 55.9% 98.66%, 53.4202% 99.3969%, 51.7365% 99.8481%, 50% 100%, 48.26% 102.55%, 46.5798% 99.3969%, 45% 98.6603%, 10.359% 78.6603%, 8.93111% 77.6604%, 7.69854% 76.4279%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.7365%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.2635%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.5721%, 8.93111% 22.3396%, 10.359% 21.3398%);
}
.imageContainer {
    clip-path: polygon(45% 1.33975%, 46.5798% .60307%, 48.26352% .15192%, 50% 0, 51.73648% .15192%, 53.4202% .60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: white;
    width: 111px;
    height: 111px;
    align-content: end;
    align-items: end;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    background-color: #292b2f

}

.imageContainer > span {
    font-size: 80px;
}


.userProfile--container__image  {
    width: 100%;
    height: 100%;
}

.skills--list__title--icon {
    width: 40px;
    height: 24px;
    color: #a9a9ab;
}


h3 {
    font-weight: 400;
    padding-left: 5px;
    color: #a9a9ab;

}

.skills--list__title {
    display: flex;
    align-items: center;

}

.skills--list__item {
    height: auto;
}

.skills--list__item span {
    display: inline-block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2),
    0 2px 2px rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .12);
    color: #e3e1e1;
    margin:  8px !important;
    background-color: #373b41;
    border-radius: 22px;
    padding: 11px 22px 11px 16px !important;
    text-align: center;
    cursor: pointer;
}

.userProfile--container__subtitle {
    font-weight: 300;
}

.skills--list__category {
    overflow: hidden;
    margin-bottom: 30px;
}

ul {
    padding: 0;
    list-style: none;
}

.button--more {
    cursor: pointer;
    width: 100%;
    height: 50px;
    color: #c0cd38;
    border: none;
    font-size: 50px;
    background-color: #27292d;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    transform: none;
}

