.userProfile {
    width: 480px;
    background-color: #27292d;
    padding: 20px;
    color: white;
}
.userProfile--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

h1 {
    font-weight: 300;
}
.imageContainer {
    border: 4px solid white;
    clip-path: polygon(45% 1.33975%, 46.5798% .60307%, 48.26352% .15192%, 50% 0, 51.73648% .15192%, 53.4202% .60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
}

.userProfile--container__image  {
    width: 100px;
    height: 100px;
    clip-path: polygon(45% 1.33975%, 46.5798% .60307%, 48.26352% .15192%, 50% 0, 51.73648% .15192%, 53.4202% .60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
}

.skills--list__title--icon {
    width: 30px;
    height: 24px;
    color: #a9a9ab;
}

.userProfile--container__skills--list {
    height: 100%;
}
h3 {
    font-weight: 400;
    padding-left: 5px;
    color: #a9a9ab;

}

.skills--list__title {
    display: flex;
    align-items: center;

}

.skills--list__item {
    max-height: 200px;
}

.skills--list__item span {
    display: inline-block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2),
    0 2px 2px rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .12);
    color: #e3e1e1;
    margin:  8px !important;
    background-color: #373b41;
    border-radius: 22px;
    padding: 11px 22px 11px 16px !important;
    text-align: center;
    cursor: pointer;
}

.userProfile--container__subtitle {
    font-weight: 300;
}

.skills--list__category {
    overflow: hidden;
    list-style-type: disc;
    margin-bottom: 30px;
}

li {
    display: block;
}
ul {
    padding: 0;
    list-style: none;
}

.button--more {
    cursor: pointer;
    width: 100%;
    height: 50px;
    color: #c0cd38;
    font-size: 50px;
    background-color: #27292d;
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

.disabled {
    display: none;
}
